* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

table {
    color: #ffffff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    table-layout: fixed;
}

tr {
    height: 16.02vh;
    background-color: #4e494d;
}

td {
    width: 25%;
    border: 1px solid #4e494d;
}

#inputBox {
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #ffffff;
    border: 0px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    display: block;
}

.digitButton {
    background-color: #807e80;
}

.operatorButton {
    background-color: #ff9e06;
}

.ACButton {
    background-color: #656165;
}